<extend name="Public/layout"/>

<block name="main">
    <div id="main" class="col-xs-12 col-sm-9 main" style="padding-right: 0;">
            <!-- 面包屑导航 -->
            <ul class="breadcrumb">
                <li><i class="fa fa-map-marker"></i></li>
                <li class="text-muted">首页</li>
            </ul>
            
        <!-- 多标签后台内容部分 -->
        <div class="tab-content ct-tab-content" >
            <!-- 首页 -->
            <div role="tabpanel" class="tab-pane fade in active" id="home">
                <div class="dashboard clearfix">
                    <div class="col-xs-12 col-sm-3 col-lg-3 ct-update">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background:#386a30;color:#ccc;">
                                <div class="update pull-right"></div>
                                <i class="fa fa-cog"></i> 会员数据
                            </div>
                            <div class="panel-body"  style="height:300px;background:#5a8a51;">
                                <table class="table table-condensed">
                                    <tbody>
                                        <tr>
                                            <td style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">今日新增会员：</td>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">{$user_count}</td>
                                        </tr>
                                        <tr>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">全网总会员数：</td>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">{$user_total}</td>
                                        </tr>
										<tr>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">总充值金额：</td>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">{$resum}</td>
                                        </tr>
										<tr>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">总提现金额：</td>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">{$wisum}</td>
                                        </tr>
										<tr>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">全网总余额：</td>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">{$countmoney}</td>
                                        </tr>
										<tr>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">全网总佣金：</td>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">{$sumyj}</td>
                                        </tr>
										<tr>

                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
					<div class="col-xs-12 col-sm-3 col-lg-3 ct-update">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background:#386a30;color:#ccc;">
                                <div class="update pull-right"></div>
                                <i class="fa fa-cog"></i> 订单数据统计
                            </div>
                            <div class="panel-body"  style="height:300px;background:#5a8a51;">
                                <table class="table table-condensed">
                                    <tbody>
										<tr>
                                            <td style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">已完成订单量：</td>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">{$finishorder_count}</td>
                                        </tr>
										<tr>
                                            <td style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">已完成订单金额：</td>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">{$finishorder_money}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">已匹配订单量：</td>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">{$sucorder_count}</td>
                                        </tr>
										<tr>
                                            <td style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">已匹配订单金额：</td>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">{$sucorder_money}</td>
                                        </tr>
										<tr>
                                            <td style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">后台发布未匹配订单量：</td>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">{$dd_orderm_admin}</td>
                                        </tr>
										<tr>
                                            <td style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">后台发布未匹配订单金额：</td>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">{$dd_ordern_admin}</td>
                                        </tr>
										<tr>
                                            <td style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">会员发布空匹配单量：</td>
                                            <td  style="font-size:12px;color:#ccc;border-top:none;border-bottom:1px dashed #ccc;">{$nollorder_count}</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
					<!-- <div class="col-xs-12 col-sm-3 col-lg-3 ct-update">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background:#386a30;color:#ccc;">
                                <div class="update pull-right"></div>
                                <i class="fa fa-cog"></i> 数据统计1
                            </div>
                            <div class="panel-body"  style="height:300px;background:#5a8a51;">
                                
                               
                            </div>
                        </div>
                    </div> -->


                </div>

            </div>
        </div>

    </div>
</block>