<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
</block>

<block name="main">
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>

            <li class="text-muted">会员管理 /  会员权限</li>

        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                            <div class="row" >
                                <div class="col-xs-12">
                                    <form action="__SELF__" method="post" class="form-horizontal form form-builder">
                                        <div class="form-type-list">
                                            <div class="form-group hidden item_id ">
                                                <label class="left control-label">ID：</label>
                                                <div class="right">
                                                    <input type="hidden" class="form-control input" name="userid" value="{$info.userid}">
                                                </div>
                                            </div>

											<div class="form-group item_title ">
                                                <label class="left control-label">提现状态：</label>
                                                <div class="right">
													<?php if($info['tx_status'] == 1){?>
													<span style="font-size:12px;color:green;">允许</span>
													<?php }else{?>
													<span style="font-size:12px;color:red;">禁止</span>
													<?php }?>

                                                </div>
                                            </div>
											


                                            <div class="form-group item_title ">
                                                <label class="left control-label">禁止会员：</label>
                                                <div class="auth3" style="line-height:120%;" >
                                               

		
													<label class="checkbox-inline" style="margin-top: 10px;margin-left: 0px;">
														<input type="checkbox" name="tx_status"  value="1">
											
														<span class="cui-control-indicator"></span>
														<span>提现</span>
													</label>

                                                </div>
                                            </div>



             
                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <a class="btn btn-primary submit ajax-post" type="submit" target-form="form-builder">确定</a>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>                   
</div>
</block>

<block name="script">
    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
</block>