<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
</block>

<block name="main">
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>

            <li class="text-muted">新增/修改</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                            <div class="row" >
                                <div class="col-xs-12">
                                    <form action="{:U('Roborder/editup')}" method="post" class="form-horizontal form form-builder">
                                        <div class="form-type-list">
                                            <div class="form-group hidden item_id ">
                                                <label class="left control-label">ID：</label>
                                                <div class="right">
                                                    <input type="hidden" class="form-control input" name="id" value="{$olist.id}">
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="left control-label">支付类型：</label>
                                                <div class="right">
                                                    <select name="class" class="form-control cui-select select">
														<?php if($olist['class']==1){?>
															<option  selected="true" value="1">微信支付</option>
															<option   value="2">支付宝支付</option>
															<option   value="3">银行支付</option>
														<?php }elseif($olist['class']==2){?>
															<option  value="1">微信支付</option>
															<option  selected="true"  value="2">支付宝支付</option>
															<option   value="3">银行支付</option>
														<?php }elseif($olist['class']==3){?>
															<option  value="1">微信支付</option>
															<option  value="2">支付宝支付</option>
															<option  selected="true"   value="3">银行支付</option>
														<?php }?>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">支付金额：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input" name="price" value="{$olist.price}" placeholder="请输入金额" >
                                                </div>
                                            </div>
      
             
                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <a class="btn btn-primary submit ajax-post" type="submit" target-form="form-builder">确定</a>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>                   
</div>
</block>

<block name="script">
    {$extra_html}
    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
</block>