<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
</block>

<block name="main">
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>

            <li class="text-muted">收款二维码 /  收款二维码管理</li>

        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                            <div class="row" >
                                <div class="col-xs-12">
                                    <form action="__SELF__" enctype="multipart/form-data" method="post" class="form-horizontal form form-builder">
                                        <div class="form-type-list">

                                            
											

                                            <div class="form-group item_title " style="width:100%;">
                                                <div  style="float:left;width:15%;">
                                                   <span>微信收款二维码：<span>
                                                </div>
                                                <div  style="float:left;width:20%;">
                                                    <input type="file" name="wxewm" value=" "  style="height:100%;line-height:100%;"/>
                                                </div>
												<?php if($skmlist['wxewm'] != ''){?>
												<div  style="float:left;width:30%;">
                                                   <img src = '/Uploads/payimg/<?php echo $skmlist['wxewm']?>' style="height:100%;width:auto;"/>
                                                </div>
												<?php } ?>
                                            </div>

											
											 <div class="form-group item_title " style="width:100%;">
                                                <div  style="float:left;width:15%;">
                                                   <span>支付宝收款二维码：<span>
                                                </div>
                                                <div  style="float:left;width:20%;">
                                                    <input type="file" name="zfbewm" value=" "  style="height:100%;line-height:100%;"/>
                                                </div>
												<?php if($skmlist['zfbewm'] != ''){?>
												<div  style="float:left;width:30%;">
                                                   <img src = '/Uploads/payimg/<?php echo $skmlist['zfbewm']?>' style="height:100%;width:auto;"/>
                                                </div>
												<?php } ?>
                                            </div>
											
											 <div class="form-group item_title " style="width:100%;">
                                                <div  style="float:left;width:15%;">
                                                   <span>银联收款二维码：<span>
                                                </div>
                                                <div  style="float:left;width:20%;">
                                                    <input type="file" name="bankewm" value=" "  style="height:100%;line-height:100%;"/>
                                                </div>
												<?php if($skmlist['bankewm'] != ''){?>
												<div  style="float:left;width:30%;">
                                                   <img src = '/Uploads/payimg/<?php echo $skmlist['bankewm']?>' style="height:100%;width:auto;"/>
                                                </div>
												<?php } ?>
                                            </div>

             
                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
											<input type="submit" name="submit" class="btn btn-primary"  value="提交"/>
											<!-- <a class="btn btn-primary submit ajax-post" type="submit" target-form="form-builder">确定</a> -->
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">返回</a>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>                   
</div>
</block>

<block name="script">
    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
</block>